/* App.css */


/* Custom Navbar Design */
.navbar {
  background-color: #F9DBBD; /* Dark background color */
  justify-content: center;
}

.navbar-nav{  
  display: flex;
  flex-direction: row;
}


.navbar-brand img {
  width: 100px; /* Adjust the logo size */
}

.navbar-nav .nav-link {
  color: #000000; /* Text color */
  margin-right: 1rem; /* Adjust spacing between nav links */
}

.navbar-nav .nav-link:hover {
  color: #FF6F61; /* Hover color */
  text-decoration: underline;
}

/* Custom Button Design */
.btn-primary {
  background-color: #F9DBBD; /* Primary button color */
  border-color: #F9DBBD;
  color: #000000;
}

.btn-primary:hover {
  background-color: #c9a580; /* Hover color */
  border-color: #c9a580;
}

.btn-lg {
  padding: 1rem 2rem; /* Adjust button padding */
}

.image{
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  
}

img{
  border-radius: 10%;
}
